.inputSection{
  display: inline-block;
  margin-right: 1em;
}
.table_todo{
  width: 55em;
  position: relative;
  margin-left: 3em;
}
.header_section{
  display: inline-block;
  margin-right: 5em;
  left: 3em;
  position: relative;
  margin-left: 1em;
}
.input_editoption{
  width:6em;
}
.dataholder{
  position: relative;
  top: 2em;
}
.btn_sty{
  left: 5em;
  position: relative;
  margin-left: 1em;
}
.table_rowStyle{
  border-bottom: 1px solid gray;
  height: 3em;
}
.title_headerr{
  font-size: large;
  font-weight: bold;
}
